.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  background-color: rgb(31, 83, 81);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 10;

}

.mainImage {
  width: 100%;
  height: 25rem;
  overflow: inherit;
}

.mainImage img {
  width: 110vw;
  height: 110vh;
  object-fit: cover;
  transform: rotateZ(-0deg) translateY(-4rem) translateX(-1rem);
}